{% extends 'blog/base.html' %}

{% block content %}

<style>
    h3 {

        margin-top: 3%;
        margin-left: auto;
        margin-right: auto;
        color:whitesmoke;
        outline: solid;
        width: fit-content;
    }

    #create-form {
        flex: auto;
        flex-direction: column;
        outline-style: solid;
    }

    #button-submit {
        margin-top: 5px;
    }
</style>

<h3>Create Blog</h3>
<br>
<form id="create-form" class="card card-body" method="POST" action="">
    {% csrf_token %}
    {{ form }}
    <input id="button-submit" class="btn btn-md btn-success" type="submit">
</form>

{% endblock %}